.nav {
    width: 100%;
    height:60px;
    background:#d1d8d8;
    display: flex;
    align-items: center;
}

.o {
    color:rgb(233, 58, 15);
    text-decoration: line-through;
}

.nav__titulo {
    color:rgb(77, 130, 201);
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.5px;
}

.nav__lista {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav__item {
    list-style-type: none;
    margin-right:20px;
}

.nav__link {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color:rgb(45, 85, 85);
    cursor: pointer;
    text-decoration: none;
}

.nav__link--active {
    border-bottom: 1px solid rgb(226, 40, 7);
}

/*=====================
CAJA CAMBIAR COLORES
======================*/
section {
    height: 100vh;
    width: 100vw;
    background-color: hsl(47, 69%, 71%);
}

.color {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color__cont {
    width: 80%;
    min-width: 268px;
    max-width: 390px;
    display: flex;
    flex-direction: column;
}

.color__contH2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 50px;
    padding: 15px 10px;
    background:#222;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.color__nombre {
    font-size: 14px;
    color:#eee;
}

.color__nombre::selection {
    background-color: rgba(34, 34, 34, 0.3);
}

.color__num {
    color:rgb(18, 131, 184);
}

.color__num::selection {
    background:rgba(34, 34, 34, 0.3);
}

/*texto copiado*/
.color__contcopy {
    position: relative;
    background: transparent;
    width: 25%;
    min-width: 90px;
    top: -10px;
    margin: auto;
    border-radius: 3px;
}

.color__copiado {
    color:rgba(34, 34, 34, 0); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.color__copiado::selection {
    background: transparent;
}

.color__copiado.active {
    padding: 5px 5px;
    text-align: center;
    font-size: 10px;
    color:rgb(50, 121, 226);
    background: rgb(17, 16, 16);
}

#color__icono {
    font-size: 10px;
}

#color__icono::selection {
    background: transparent;
}

.color__btn {
    background:transparent;
    color:#222;
    font-weight: bold;
    outline: none;
    border:2px solid #222;
    width: 40%;
    padding: 10px 0;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    min-width: 137px;
}

.color__btn:hover {
    background-color: #222;
    border: none;
    color:#eee;
    
}


/*==================
 MEDIA QUERIES
===================*/

@media (min-width:768px) {
    .nav__titulo {
        margin-left: 30px;
        font-size: 20px;
    }

    .nav__item {
        margin-right:25px;
    }

    .nav__link {
        font-size: 17px;
    }

    .color__contH2 {
        height: 60px;
        padding: 20px 10px;
    }

    .color__nombre {
        font-size: 16px;
    }

    .color__btn {
        font-size: 16px;
    }
}

@media (min-width:992px) {
    .nav__titulo {
        font-size: 22px;
    }

    .color__contH2 {
        height: 70px;
        padding: 22px 10px;
    }

    .color__nombre {
        font-size: 18px;
    }

    .color__btn {
        width: 45%;
    }
}